<h1>Podcast Index Page</h1>

<h2>Title</h3>
<h2><%= @podcast.name %></h2>

<ul>
    <% @podcast.each_with_index do |podcast, index| %>
        <li>
            <p><%= podcast.name %> - <%= podcast.genre %> <%= podcast.explicit_content %> 
            <%= link_to "show", podcast_path(podcast.id) %></p>
            
        </li>
    <% end %>
</ul>



<
<%= link_to "Back", :back %>
