<!-- on the podcasts show page add a form that allows you to create a new episode for that specific podcast (the create endpoint for episodes) -->

<h1>Show Podcast</h1>
<div class="wrapper pod">
<div class="name">
<h3>Podcast Name</h3>
<p><%= @podcast.name %></p>
<h3>Genre</h3>
<p><%= @podcast.genre %></p>
</div>

<div class="image"><img src="<%= @image %>" alt="">
</div>


</div>

<h2>Episodes</h2>
<div class="wrapper">
  <% if @podcast.episodes.any? %>
    
    <% @podcast.episodes.each do |episode| %>
      <div class="episode1">
        <div class="image"><img src="<%= @image1 %>" alt="">
        </div>
        <h3>Title: <%= episode.title %></h3>
        <h4>Notes</h4> <p><%= episode.show_notes %></p>
        <%= link_to 'Delete', delete_episode_path(episode), method: :delete,
          data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
</div>

<h1>Create A New episode</h1>

<form action="<%= episode_path %>" method="POST" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />
    <input type="hidden" value="<%= @podcast.id %>" name="podcast_id" />

    <label for="title">Title</label>
    <input type="text" name="title" id="title"/>

    <label for="show_notes">show_notes</label>
    <input type="text" name="show_notes" id="show_notes"/>

    <label for="mp3_file">mp3_file</label>
    <input type="file" name="mp3_file" id="mp3_file" />
    

    <input type="submit" value="Create" />
</form>




<%= link_to "Back", :back %>
<%= link_to "Next", podcast_path(@podcast.id+1) %>
<%= link_to "Home", podcasts_path %>

